openapi: 3.1.0
info:
  title: ACE Relay API
  version: "1.0"
  description: |
    OpenAPI rendering of ace-spec 08-relay.md. This document is for tooling; 08-relay.md is
    normative and wins on any disagreement. Header-authenticated operations carry
    `x-ace-action`, the signing context of 04-messages.md § Signing Contexts.
    Every error response has the body `{"error": <code>, "message"?: string}`; each
    operation's error responses name the 08-relay.md § Errors codes it can return.
servers:
  - url: https://relay.aceprotocol.org
components:
  parameters:
    XAceId: { name: X-ACE-Id, in: header, required: true, schema: { type: string, pattern: '^ace:sha256:[0-9a-f]{64}$' } }
    XAceTimestamp: { name: X-ACE-Timestamp, in: header, required: true, description: 'Unix seconds, at most 2^53-1', schema: { type: string, pattern: '^(0|[1-9][0-9]{0,15})$' } }
    XAceSignature: { name: X-ACE-Signature, in: header, required: true, description: 'The scheme''s signature encoding (04-messages.md § Signature Encoding by Scheme) over buildSignData(x-ace-action, aceId, timestamp, payload)', schema: { type: string, maxLength: 512 } }
    Since: { name: since, in: query, required: false, description: 'A stream ID `<ms>-<seq>`, or `-` (the default, from the start)', schema: { type: string, pattern: '^(-|[0-9]{1,20}-[0-9]{1,20})$' } }
    Cursor: { name: cursor, in: query, required: false, description: 'Opaque to clients; pass back the previous page''s `cursor`', schema: { type: string, maxLength: 512 } }
  schemas:
    HttpsUrl:
      type: string
      maxLength: 2048
      description: >-
        ACE HTTPS URL grammar (04-messages.md § HTTPS URLs). Beyond the pattern and the 2048-character
        limit: the host (between `://` and the first `:`, `/`, `?`, `#` or end) is at most 253 characters,
        and a port, if present, is in 1..65535.
      pattern: '^https://[A-Za-z0-9](?:[A-Za-z0-9-]{0,61}[A-Za-z0-9])?(?:\.[A-Za-z0-9](?:[A-Za-z0-9-]{0,61}[A-Za-z0-9])?)*(?::[0-9]{1,5})?(?:[/?#][A-Za-z0-9\-._~:/?#\[\]@!$&''()*+,;=%]*)?$'
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          enum: [invalid_argument, invalid_envelope, invalid_registration, invalid_profile, invalid_principal, invalid_webhook, invalid_key,
                 stale_timestamp, envelope_expired, invalid_signature, invalid_authorization, not_registered, unknown_peer,
                 replay, identity_conflict, message_id_conflict, rate_limited, recipient_inbox_full, sender_quota_exceeded,
                 max_open_intents, internal_error]
        message: { type: string }
    Principal:
      type: object
      description: >-
        09-principal.md § Principal Record. Verified by relays and clients: `signature` by `signer` over the `principal`
        signing context, subject = the registering identity's signing key.
      required: [account, roles, signer, issuedAt, expiresAt, signature]
      properties:
        account: { type: string, pattern: '^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}:[-.%a-zA-Z0-9]{1,128}$', description: CAIP-10 }
        roles: { type: array, minItems: 1, maxItems: 2, uniqueItems: true, items: { type: string, enum: [controller, agent] }, description: 'Canonical order: controller before agent' }
        signer:
          type: object
          required: [scheme, publicKey]
          properties:
            scheme: { type: string, enum: [ed25519, secp256k1] }
            publicKey: { type: string, description: 'Canonical Base64: 32 bytes (ed25519) or a 33-byte compressed point (secp256k1)' }
        issuedAt: { type: integer, minimum: 0, maximum: 9007199254740991 }
        expiresAt: { type: integer, minimum: 0, maximum: 9007199254740991, description: 'Greater than issuedAt; at most 31622400 seconds after it' }
        scope: { type: string, minLength: 1, maxLength: 256, description: No control characters }
        signature: { type: string, description: 'Signature encoding of signer.scheme' }
    Profile:
      type: object
      description: 02-discovery.md § Profile Fields. All fields optional; unknown fields are ignored and not stored.
      properties:
        name: { type: string, minLength: 1, maxLength: 64 }
        description: { type: string, maxLength: 256 }
        tags: { type: array, maxItems: 10, items: { type: string, pattern: '^[a-z0-9-]{1,32}$' } }
        capabilities: { type: array, maxItems: 20, items: { type: string, pattern: '^[a-z0-9-]{1,32}$' } }
        chains: { type: array, maxItems: 10, items: { type: string, pattern: '^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$' } }
        image: { $ref: '#/components/schemas/HttpsUrl' }
        endpoint: { $ref: '#/components/schemas/HttpsUrl' }
        pricing:
          type: object
          additionalProperties: false
          required: [currency]
          properties:
            currency: { type: string, minLength: 1, maxLength: 16, description: No control characters }
            maxAmount: { type: string, minLength: 1, maxLength: 32, pattern: '^[0-9]+(\.[0-9]+)?$' }
        principal: { $ref: '#/components/schemas/Principal' }
    RegistrationRequest:
      type: object
      description: 02-discovery.md § Registration authorization
      required: [aceId, encryptionPublicKey, signingPublicKey, scheme, timestamp, signature, authorization]
      properties:
        aceId: { type: string, pattern: '^ace:sha256:[0-9a-f]{64}$', description: 'ace:sha256:hex(SHA-256(signingPublicKey))' }
        encryptionPublicKey: { type: string, description: Canonical Base64 of the 1216-byte X-Wing public key }
        signingPublicKey: { type: string, description: Canonical Base64 of the raw signing public key }
        scheme: { type: string, enum: [ed25519, secp256k1] }
        timestamp: { type: integer, minimum: 0, maximum: 9007199254740991 }
        signature: { type: string, description: 'The `register` binding signature' }
        authorization: { type: string, description: 'The `register-request` write authorization; never returned' }
        profile:
          description: Absent keeps the stored profile, null removes it, an object replaces it
          oneOf: [ { $ref: '#/components/schemas/Profile' }, { type: 'null' } ]
    PeerRecord:
      type: object
      description: 02-discovery.md § Peer Record
      required: [aceId, scheme, encryptionPublicKey, signingPublicKey, registrationSignature, registeredAt]
      properties:
        aceId: { type: string, pattern: '^ace:sha256:[0-9a-f]{64}$' }
        scheme: { type: string, enum: [ed25519, secp256k1] }
        encryptionPublicKey: { type: string, description: Canonical Base64 of the 1216-byte X-Wing public key }
        signingPublicKey: { type: string }
        registrationSignature: { type: string }
        registeredAt: { type: integer, minimum: 0, maximum: 9007199254740991 }
        profile: { $ref: '#/components/schemas/Profile' }
    Envelope:
      type: object
      description: 04-messages.md § Message Envelope and § Envelope Decoding. Unknown fields are dropped by the relay.
      required: [ace, messageId, from, to, conversationId, type, timestamp, encryption, signature]
      properties:
        ace: { type: string, const: "1.0" }
        messageId: { type: string, pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$' }
        from: { type: string, pattern: '^ace:sha256:[0-9a-f]{64}$' }
        to: { type: string, pattern: '^ace:sha256:[0-9a-f]{64}$' }
        conversationId: { type: string, pattern: '^[0-9a-f]{64}$' }
        type: { type: string, enum: [info, text, rfq, offer, accept, reject, invoice, receipt, deliver, confirm, request, decision, report] }
        threadId: { type: string, minLength: 1, maxLength: 256, description: 'No U+0000-U+001F or U+007F; required for economic types' }
        timestamp: { type: integer, minimum: 0, maximum: 9007199254740991 }
        encryption:
          type: object
          required: [kemCiphertext, payload]
          properties:
            kemCiphertext: { type: string, description: Canonical Base64 of 1120 bytes }
            payload: { type: string, description: 'Canonical Base64 of nonce || AES-256-GCM ciphertext || tag, 28..65536 bytes' }
        signature:
          type: object
          required: [scheme, value]
          properties:
            scheme: { type: string, enum: [ed25519, secp256k1] }
            value: { type: string, description: 'ed25519: canonical Base64 of 64 bytes; secp256k1: ^0x[0-9a-f]{130}$' }
    Intent:
      type: object
      required: [intentId, from, need, tags, ttl, createdAt, expiresAt]
      properties:
        intentId: { type: string }
        from: { type: string, pattern: '^ace:sha256:[0-9a-f]{64}$' }
        need: { type: string }
        tags: { type: array, items: { type: string } }
        maxPrice: { type: string }
        currency: { type: string }
        ttl: { type: integer, minimum: 0, maximum: 9007199254740991, description: Seconds }
        createdAt: { type: integer, minimum: 0, maximum: 9007199254740991, description: Unix seconds }
        expiresAt: { type: integer, minimum: 0, maximum: 9007199254740991, description: Unix seconds }
    Webhook:
      type: object
      required: [url, status, failures, updatedAt]
      properties:
        url: { $ref: '#/components/schemas/HttpsUrl' }
        status: { type: string, enum: [active, disabled] }
        failures: { type: integer, minimum: 0 }
        updatedAt: { type: integer, minimum: 0, maximum: 9007199254740991, description: Unix seconds }
        lastDeliveredAt: { type: integer, minimum: 0, maximum: 9007199254740991, description: Unix seconds }
        lastError:
          type: string
          description: >-
            A short string (08-relay.md § Webhooks). The reference relay normalises it to one of `timeout`, `blocked`,
            `resolve_failed`, `connect_failed`, `tls_failed`, `http_<status>` or `stopped`.
  responses:
    Error: { description: An 08-relay error, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    TooManyRequests:
      description: An 08-relay 429 error
      headers:
        Retry-After: { description: 'Seconds to wait (sent with `rate_limited`)', schema: { type: integer } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    InternalError: { description: '`internal_error`: unexpected relay failure', content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
paths:
  /v1/register:
    post:
      summary: Register or refresh an identity and profile
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/RegistrationRequest' } } } }
      responses:
        "200": { description: Registered, content: { application/json: { schema: { type: object, required: [ok, status], properties: { ok: { const: true }, status: { enum: [registered, idempotent, refreshed, rotated] } } } } } }
        "400": { $ref: '#/components/responses/Error', description: '`invalid_argument`, `invalid_registration`, `stale_timestamp`, `invalid_key`, `invalid_profile`, `invalid_principal`' }
        "401": { $ref: '#/components/responses/Error', description: '`invalid_signature`, `invalid_authorization`' }
        "409": { $ref: '#/components/responses/Error', description: '`identity_conflict`' }
        "429": { $ref: '#/components/responses/TooManyRequests', description: '`rate_limited`' }
        "500": { $ref: '#/components/responses/InternalError' }
  /v1/unregister:
    post:
      summary: Remove the caller's identity, profile and webhook
      x-ace-action: unregister
      parameters: [ { $ref: '#/components/parameters/XAceId' }, { $ref: '#/components/parameters/XAceTimestamp' }, { $ref: '#/components/parameters/XAceSignature' } ]
      responses:
        "200": { description: Removed, content: { application/json: { schema: { type: object, required: [ok], properties: { ok: { const: true } } } } } }
        "400": { $ref: '#/components/responses/Error', description: '`invalid_argument`, `stale_timestamp`' }
        "401": { $ref: '#/components/responses/Error', description: '`invalid_signature`' }
        "403": { $ref: '#/components/responses/Error', description: '`not_registered`' }
        "409": { $ref: '#/components/responses/Error', description: '`replay`, `identity_conflict`' }
        "429": { $ref: '#/components/responses/TooManyRequests', description: '`rate_limited`' }
        "500": { $ref: '#/components/responses/InternalError' }
  /v1/peer:
    get:
      summary: A verifiable peer record
      description: 'A relay omits `profile.principal` from the served record once it has expired.'
      parameters: [ { name: aceId, in: query, required: true, schema: { type: string, pattern: '^ace:sha256:[0-9a-f]{64}$' } } ]
      responses:
        "200": { description: Peer record, content: { application/json: { schema: { $ref: '#/components/schemas/PeerRecord' } } } }
        "400": { $ref: '#/components/responses/Error', description: '`invalid_argument`' }
        "404": { $ref: '#/components/responses/Error', description: '`unknown_peer`' }
        "429": { $ref: '#/components/responses/TooManyRequests', description: '`rate_limited`' }
        "500": { $ref: '#/components/responses/InternalError' }
  /v1/discover:
    get:
      summary: Search registered agents
      description: 'Records are served without an expired `profile.principal`; with `account`, an agent whose principal has expired is not listed.'
      parameters:
        - { name: q, in: query, schema: { type: string, maxLength: 256 }, description: 'Full-text search on name, description, tags, capabilities' }
        - { name: tags, in: query, schema: { type: string, maxLength: 512 }, description: 'Comma-separated exact match (intersection) over tags and capabilities' }
        - { name: chain, in: query, schema: { type: string, maxLength: 128 }, description: CAIP-2 chain ID }
        - { name: scheme, in: query, schema: { type: string, enum: [ed25519, secp256k1] } }
        - { name: online, in: query, schema: { type: boolean }, description: Only agents with active relay connections }
        - { name: account, in: query, schema: { type: string, maxLength: 175, pattern: '^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}:[-.%a-zA-Z0-9]{1,128}$' }, description: 'CAIP-10 account; lists the delegates that claim it (exact match on profile.principal.account). A relay MAY omit expired principals. A claim list, not proof of delegation' }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        "200": { description: Page, content: { application/json: { schema: { type: object, required: [agents, cursor], properties: { agents: { type: array, items: { $ref: '#/components/schemas/PeerRecord' } }, cursor: { type: [string, 'null'] } } } } } }
        "400": { $ref: '#/components/responses/Error', description: '`invalid_argument`' }
        "429": { $ref: '#/components/responses/TooManyRequests', description: '`rate_limited`' }
        "500": { $ref: '#/components/responses/InternalError' }
  /v1/send:
    post:
      summary: Enqueue an envelope for its recipient
      description: Authenticated by the envelope's own `message` signature, not by X-ACE-* headers.
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [message], properties: { message: { $ref: '#/components/schemas/Envelope' } } } } } }
      responses:
        "200": { description: Enqueued or exact duplicate, content: { application/json: { schema: { type: object, required: [ok], properties: { ok: { const: true } } } } } }
        "400": { $ref: '#/components/responses/Error', description: '`invalid_argument`, `invalid_envelope`, `envelope_expired`' }
        "401": { $ref: '#/components/responses/Error', description: '`invalid_signature`' }
        "403": { $ref: '#/components/responses/Error', description: '`not_registered` (sender)' }
        "404": { $ref: '#/components/responses/Error', description: '`unknown_peer` (recipient)' }
        "409": { $ref: '#/components/responses/Error', description: '`message_id_conflict`' }
        "429": { $ref: '#/components/responses/TooManyRequests', description: '`rate_limited`, `recipient_inbox_full`, `sender_quota_exceeded`' }
        "500": { $ref: '#/components/responses/InternalError' }
  /v1/inbox:
    get:
      summary: Queued envelopes after a cursor
      x-ace-action: inbox
      parameters: [ { $ref: '#/components/parameters/XAceId' }, { $ref: '#/components/parameters/XAceTimestamp' }, { $ref: '#/components/parameters/XAceSignature' }, { $ref: '#/components/parameters/Since' }, { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 100 } } ]
      responses:
        "200": { description: Page, content: { application/json: { schema: { type: object, required: [messages, cursor], properties: { messages: { type: array, items: { type: object, required: [streamId, message], properties: { streamId: { type: string }, message: { $ref: '#/components/schemas/Envelope' } } } }, cursor: { type: [string, 'null'] } } } } } }
        "400": { $ref: '#/components/responses/Error', description: '`invalid_argument`, `stale_timestamp`' }
        "401": { $ref: '#/components/responses/Error', description: '`invalid_signature`' }
        "403": { $ref: '#/components/responses/Error', description: '`not_registered`' }
        "409": { $ref: '#/components/responses/Error', description: '`replay`' }
        "429": { $ref: '#/components/responses/TooManyRequests', description: '`rate_limited`' }
        "500": { $ref: '#/components/responses/InternalError' }
  /v1/listen:
    get:
      summary: Server-Sent Events stream (catchup, then live)
      x-ace-action: listen
      parameters: [ { $ref: '#/components/parameters/XAceId' }, { $ref: '#/components/parameters/XAceTimestamp' }, { $ref: '#/components/parameters/XAceSignature' }, { $ref: '#/components/parameters/Since' } ]
      responses:
        "200": { description: 'Events `connected`, `catchup`, `message`, `drain`; `id` is the stream ID, `data` the envelope JSON', content: { text/event-stream: { schema: { type: string } } } }
        "400": { $ref: '#/components/responses/Error', description: '`invalid_argument`, `stale_timestamp`' }
        "401": { $ref: '#/components/responses/Error', description: '`invalid_signature`' }
        "403": { $ref: '#/components/responses/Error', description: '`not_registered`' }
        "409": { $ref: '#/components/responses/Error', description: '`replay`' }
        "429": { $ref: '#/components/responses/TooManyRequests', description: '`rate_limited` (including the listen-connection cap)' }
        "500": { $ref: '#/components/responses/InternalError' }
  /v1/intents:
    post:
      summary: Publish an intent
      x-ace-action: intent
      parameters: [ { $ref: '#/components/parameters/XAceId' }, { $ref: '#/components/parameters/XAceTimestamp' }, { $ref: '#/components/parameters/XAceSignature' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: '`maxPrice` and `currency` are both present or both absent (`invalid_argument`). The signed payload binds every field, with absent `tags` as `[]`.'
              required: [need, ttl]
              properties:
                need: { type: string, minLength: 1, maxLength: 512 }
                tags: { type: array, maxItems: 10, items: { type: string, minLength: 1, maxLength: 32, pattern: '^[a-z0-9][a-z0-9-]*$' }, description: May be empty }
                maxPrice: { type: string, minLength: 1, maxLength: 64 }
                currency: { type: string, minLength: 1, maxLength: 16 }
                ttl: { type: integer, minimum: 60, maximum: 86400, description: 'Seconds (a wire integer). The bounds are the reference relay defaults (INTENT_MIN_TTL, INTENT_MAX_TTL); a relay MAY configure others' }
      responses:
        "201": { description: Published, content: { application/json: { schema: { type: object, required: [intentId, expiresAt], properties: { intentId: { type: string }, expiresAt: { type: integer, minimum: 0, maximum: 9007199254740991, description: Unix seconds } } } } } }
        "400": { $ref: '#/components/responses/Error', description: '`invalid_argument`, `stale_timestamp`' }
        "401": { $ref: '#/components/responses/Error', description: '`invalid_signature`' }
        "403": { $ref: '#/components/responses/Error', description: '`not_registered`' }
        "409": { $ref: '#/components/responses/Error', description: '`replay`' }
        "429": { $ref: '#/components/responses/TooManyRequests', description: '`rate_limited`, `max_open_intents`' }
        "500": { $ref: '#/components/responses/InternalError' }
    get:
      summary: Browse open intents
      parameters:
        - { name: q, in: query, schema: { type: string, maxLength: 256 }, description: 'In the reference relay, a case-insensitive substring match over `need` and `tags`' }
        - { name: tags, in: query, schema: { type: string, maxLength: 512 }, description: 'In the reference relay, comma-separated tags that must all be present' }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        "200": { description: Page, content: { application/json: { schema: { type: object, required: [intents, cursor], properties: { intents: { type: array, items: { $ref: '#/components/schemas/Intent' } }, cursor: { type: [string, 'null'] } } } } } }
        "400": { $ref: '#/components/responses/Error', description: '`invalid_argument`' }
        "429": { $ref: '#/components/responses/TooManyRequests', description: '`rate_limited`' }
        "500": { $ref: '#/components/responses/InternalError' }
  /v1/webhook:
    put:
      summary: Set or replace the caller's webhook
      x-ace-action: webhook
      parameters: [ { $ref: '#/components/parameters/XAceId' }, { $ref: '#/components/parameters/XAceTimestamp' }, { $ref: '#/components/parameters/XAceSignature' } ]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [url, secret], properties: { url: { $ref: '#/components/schemas/HttpsUrl' }, secret: { type: string, minLength: 16, maxLength: 128, description: No control characters; never returned } } } } } }
      responses:
        "200": { description: Set, content: { application/json: { schema: { type: object, required: [ok], properties: { ok: { const: true } } } } } }
        "400": { $ref: '#/components/responses/Error', description: '`invalid_argument`, `stale_timestamp`, `invalid_webhook`' }
        "401": { $ref: '#/components/responses/Error', description: '`invalid_signature`' }
        "403": { $ref: '#/components/responses/Error', description: '`not_registered`' }
        "409": { $ref: '#/components/responses/Error', description: '`replay`' }
        "429": { $ref: '#/components/responses/TooManyRequests', description: '`rate_limited`' }
        "500": { $ref: '#/components/responses/InternalError' }
    get:
      summary: The caller's webhook, without its secret
      x-ace-action: webhook
      parameters: [ { $ref: '#/components/parameters/XAceId' }, { $ref: '#/components/parameters/XAceTimestamp' }, { $ref: '#/components/parameters/XAceSignature' } ]
      responses:
        "200": { description: Webhook or null, content: { application/json: { schema: { type: object, required: [webhook], properties: { webhook: { oneOf: [ { $ref: '#/components/schemas/Webhook' }, { type: 'null' } ] } } } } } }
        "400": { $ref: '#/components/responses/Error', description: '`invalid_argument`, `stale_timestamp`' }
        "401": { $ref: '#/components/responses/Error', description: '`invalid_signature`' }
        "403": { $ref: '#/components/responses/Error', description: '`not_registered`' }
        "409": { $ref: '#/components/responses/Error', description: '`replay`' }
        "429": { $ref: '#/components/responses/TooManyRequests', description: '`rate_limited`' }
        "500": { $ref: '#/components/responses/InternalError' }
    delete:
      summary: Remove the caller's webhook (idempotent)
      x-ace-action: webhook
      parameters: [ { $ref: '#/components/parameters/XAceId' }, { $ref: '#/components/parameters/XAceTimestamp' }, { $ref: '#/components/parameters/XAceSignature' } ]
      responses:
        "200": { description: Removed, content: { application/json: { schema: { type: object, required: [ok], properties: { ok: { const: true } } } } } }
        "400": { $ref: '#/components/responses/Error', description: '`invalid_argument`, `stale_timestamp`' }
        "401": { $ref: '#/components/responses/Error', description: '`invalid_signature`' }
        "403": { $ref: '#/components/responses/Error', description: '`not_registered`' }
        "409": { $ref: '#/components/responses/Error', description: '`replay`' }
        "429": { $ref: '#/components/responses/TooManyRequests', description: '`rate_limited`' }
        "500": { $ref: '#/components/responses/InternalError' }
  /v1/openapi.json:
    get:
      summary: This document as JSON
      responses:
        "200": { description: OpenAPI 3.1 document, content: { application/json: { schema: { type: object } } } }
        "500": { $ref: '#/components/responses/InternalError' }
